<IfModule mod_rewrite.c>
    RewriteEngine On

	RewriteCond %{REQUEST_URI} docs$
	RewriteRule ^(.*)$ /docs/ [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
